# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Data (choose what you want)
data/raw/
*.xlsx
*.xls
*.csv
*.tsv

# Outputs (optional)
*.mp4
*.png
*.gif
